[user]
	email = martin.abeleda@gmail.com
	name = martinabeleda

[gui]
    editor = vim

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

    gpf = git push --force origin HEAD

    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff

    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff

    # `git diff` with difftastic.
    dft = -c diff.external=difft diff

[color]
    ui = true

[color "status"]
    added = green
    changed = yellow
    untracked = red

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[pull]
	rebase = true
